* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  color: #333;
  font-size: 3rem;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: center;
}
nav a {
  text-decoration: none;
  margin: 2rem 1rem;
}
section {
  height: 30vh;
}
.chapter {
  text-align: center;
  padding: 1rem;
}
#footer {
  text-align: center;
  margin: 2rem auto;
}
